section {
  align-content: center;
}

section *, .gallery *, footer * {
  grid-column: 1 / -1;
}

.diagram {
  align-content: start;
  padding-first: 11px;
  padding-second: 11px;
}

.diagram .info {
  display: grid;
  align-content: space-between;
}

.testimonial figure blockquote {
  margin-bottom: 1em;
}

.gallery-cta .cta-icon-container {
  order: 2;
}

.gallery-cta .cta-text-container {
  order: 1;
}

.gallery .image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--gutter);
  grid-row-gap: 20px;
}

.gallery .image-container .gi-01,
.gallery .image-container .gi-02,
.gallery .image-container .gi-04, 
.gallery .image-container .gi-05 {
  object-fit: cover;
  object-position: left center;
  height: 260px;
  grid-column: 1 / -1;
  width: 100%;
}

.gallery .image-container .gi-01 { order: 1; }
.gallery .image-container .gi-02 { order: 2; }
.gallery .image-container .gi-04 { order: 3; }
.gallery .image-container .gi-05 { order: 4; }
.gallery .image-container .gi-03 { order: 5; }
.gallery .image-container .gi-06 { order: 6; }

.gallery .image-container .gi-03,
.gallery .image-container .gi-06 {
  object-fit: cover;
  object-position: 38% bottom;
  height: 70vw;
  width: 100%;
}

.gallery .image-container .gi-03 {
  grid-column: 1 / span 2;
}

.gallery .image-container .gi-06 {
  grid-column: 3 / span 2;
}

footer nav {
  display: flex;
  align-items: center;
}

footer .details * {
  display: block;
}

@media (min-width: 640px) {
  
  section *, footer * {
    grid-column: 2 / -2;
  }
  
  .gallery * {
    grid-column: 2 / -1;
  }
  
  .flow .illustration, .diagram .info {
    grid-column: 1 / -1;
  }
  
  .diagram .info {
    grid-template-columns: repeat(var(--master-column-count), 1fr);
    grid-column-gap: var(--gutter);
  }
  
  .gallery .image-container {
    grid-row-gap: 40px;
  }
  
  .gallery .image-container .gi-01,
  .gallery .image-container .gi-02,
  .gallery .image-container .gi-04, 
  .gallery .image-container .gi-05 {
    height: 320px;
  }
  
  .gallery .image-container .gi-03,
  .gallery .image-container .gi-06 {
    height: 65vw;
  }
  
  footer .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media (min-width: 800px) {
  
  .diagram .info-card.first {
    grid-column: 3 / -2;
  }
  
  .diagram .info-card.second {
    grid-column: 2 / -3;
  }
  
  .gallery-cta .cta-icon-container {
    order: 1;
    grid-column: 2 / 4;
  }
  
  .gallery-cta .cta-text-container {
    order: 2;
    grid-column: 4 / 7;
  }
  
  .gallery * {
    grid-column: 2 / -2;
  }
  
  .gallery .image-container .gi-03,
  .gallery .image-container .gi-06 {
    height: 55vw;
  }
  
}

@media (min-width: 900px) {
  
  section *, .gallery * {
    grid-column: 5 / -2;
  }
  
  .diagram .info {
    grid-column: 1 / -1;
    grid-template-columns: repeat(var(--master-column-count), 1fr);
    grid-column-gap: var(--gutter);
  }
  
  .flow .illustration {
    grid-column: 2 / -2;
  }
  
  .layers .info {
    align-content: center;
  }
  
  .diagram .info-card.first {
    grid-column: 7 / -2;
  }
  
  .diagram .info-card.second {
    grid-column: 3 / -6;
  }
  
  .testimonial * {
    grid-column: 3 / -3;
  }
  
  .summary h2 {
    grid-column: 5 / 8;
  }
  
  .summary .credits {
    grid-column: 5 / 12;
  }
  
  .gallery-cta .cta-icon-container {

    grid-column: 2 / 5;
  }
  
  .gallery-cta .cta-text-container {
    grid-column: 5 / 12;
  }
  
  .gallery .image-container .gi-01,
  .gallery .image-container .gi-02,
  .gallery .image-container .gi-04, 
  .gallery .image-container .gi-05 {
    height: 380px;
  }
  
  footer nav {
    grid-column: 2 / 5;
  }
  
  footer .details {
    grid-column: 5 / -2;
  }
  
}

@media (min-width: 1194px) {
  
  .comparison figure {
    grid-column: 5 / -3;
  }
  
  .diagram .info-card.first {
    grid-column: 8 / -3;
  }
  
  .diagram .info-card.second {
    grid-column: 5 / -6;
  }
  
  .gallery-cta .cta-icon-container {
    grid-column: 2 / 4;
  }
  
  .gallery .image-container {
    grid-column: 3 / -2;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gutter);
    grid-row-gap: 50px;
  }
  
  .gallery .image-container .gallery-image {
    object-fit: cover;   
    height: 33vw;
    width:100%;
  }
  
  .gallery .image-container .gi-01 { order: 1; }
  .gallery .image-container .gi-02 { order: 2; }
  .gallery .image-container .gi-03 { order: 3; }
  .gallery .image-container .gi-04 { order: 4; }
  .gallery .image-container .gi-05 { order: 5; }
  .gallery .image-container .gi-06 { order: 6; }
  
  .gallery .image-container .gi-01 {
    grid-column: 1 / -1;
  }
  
  .gallery .image-container .gi-02 {
    grid-column: 2 / 8;
    height:25vw;
  }
  
  .gallery .image-container .gi-03 {
    grid-column: 8 / -2;
    height:25vw;
  }
  
  .gallery .image-container .gi-04 {
    grid-column: 2 / -2;
  }
  
  .gallery .image-container .gi-05 {
    grid-column: 1 / 10;
  }
  
  .gallery .image-container .gi-06 {
    grid-column: 10 / -1;
  }
  
}

@media (min-width: 1920px) {
  
  .comparison figure {
    grid-column: 6 / -5;
  }
  
  section * {
    grid-column: 7 / -3;
  }
  
  section .large-text {
    grid-column: 7 / -5;    
  }
  
  .flow .illustration {
    grid-column: 5 / -2;
  }
  
  .layers .illustration {
    grid-column: 7 / -7;
  }
  
  .iteration .illustration {
    grid-column: 7 / -2;
  }
  
  .diagram .info-card.first {
    grid-column: -2 / -8;
  }
  
  .diagram .info-card.second {
    grid-column: 7 / 13;
  }
  
  .testimonial * {
    grid-column: 3 / -2;
  }
  
  .summary * {
    grid-column: 7 / -5;
  }
  
  .summary h2 {
    grid-column: 7 / 10;
  }
  
  .summary .credits {
    grid-column: 7 / 14;
  }
  
  .gallery-cta .cta-icon-container {
    grid-column: 3 / 5;
  }
  
  .gallery-cta .cta-text-container {
    grid-column: 7 / 14;
  }
  
  footer nav {
    grid-column: 3 / 7;
  }
  
  footer .details {
    grid-column: 7 / -2;
  }
  
}