body {
  background-color: var(--paper);
}

section {
  min-height: 80vh;
  align-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

section.tan {
  background-color: var(--silcrow-000);
}

section.paper {
  background-color: var(--paper);
}

section.gallery-cta {
  background-color: var(--double-dagger-100);
}

section h2 {
  margin-bottom: 0.3em;
}

.testimonial {
  background-color: var(--silcrow-900);
  color: var(--paper);
}

.testimonial figure blockquote .quotemark {
  content: "";
  background-color: var(--silcrow-500);
  mask-image: var(--testimonial-quotemark-svg);
  position: absolute;
  mask-repeat: no-repeat;
  mask-size: 15px 11px;
  width: 15px;
  height: 11px;
}

.testimonial figure blockquote .quotemark.open { 
  transform: translate(-140%, 30%);
}

.testimonial figure blockquote .quotemark.close { 
  transform: translate(40%, 30%) rotate(180deg);
}

.testimonial figure figcaption {
  border-top: 1px solid var(--silcrow-500);
  padding-top: 20px;
}

.summary h2 {
  margin-bottom: 24px;
}

.summary ul li {
  padding: 1em 0;
  border-top: 1px solid var(--ink-100);
  display: flex;
  justify-content: space-between;
}

.summary ul li:last-child {
  border-bottom: 1px solid var(--ink-100);
}

.summary ul li .name {
  font-style: italic;
}

@media (min-width: 900px) {
  
  .summary h2 {
    border-top: 1px solid var(--ink-100);
    padding-top: 20px;
  }
  
  .summary ul li {
    padding: 1.35em 0;
  }
  
  
  
}