
section * {
  grid-column: 1 / -1;
}

.testimonial figure blockquote {
  margin-bottom: 1em;
}

@media (min-width: 640px) {
  
  section * {
    grid-column: 2 / -2;
  }
  
}

@media (min-width: 900px) {
  
  section * {
    grid-column: 5 / -2;
  }
  
  .testimonial * {
    grid-column: 2 / -2;
  }
  
}

@media (min-width: 1920px) {
  
  section * {
    grid-column: 7 / -3;
  }
  
  section .large-text {
    grid-column: 7 / -5;    
  }
  
  .testimonial * {
    grid-column: 3 / -2;
  }
  
  .summary * {
    grid-column: 7 / -5;
  }

}