@font-face {
  font-family: 'Anybody Variable';
  src: url('../fonts/anybody-variable.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Lyon Text';
  src: url('../fonts/LyonText-RegularItalic-Web.woff2') format('woff2'),
       url('../fonts/LyonText-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Lyon Text';
  src: url('../fonts/LyonText-Regular-Web.woff2') format('woff2'),
       url('../fonts/LyonText-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Orleans';
  src: url('../fonts/Orleans-Light-Web.woff2') format('woff2'),
       url('../fonts/Orleans-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}