.gallery .image-container {
  justify-items: center; 
  grid-row-gap: 2rem; 
}
  
.gallery .image-container .gallery-image {
  grid-column: 1 / -1;
  max-width: 350px;
}

.gallery .image-container .gi-05 {
  grid-column: 1 / span 2;
}

.gallery .image-container .gi-06 {
  grid-column: 3 / span 2;
}

.gallery .image-container .gallery-image img {
  width: 100%;
}

@media (min-width: 640px) {
  
  .badges .info-card.right {
    grid-column: 2 / -3;
  }
  
  .flow .illustration {
    grid-column: 1 / -1;
  }
  
  .gallery .image-container .gallery-image {
    max-width: unset;
  }  
   
  .gallery .image-container .gi-01 {
    grid-column: 2 / span 3;
  }
  
  .gallery .image-container .gi-02 {
    grid-column: 5 / span 2;
    align-self: end;
  }
  
  .gallery .image-container .gi-03 {
    grid-column: 2 / span 2;
    align-self: end;
  }
  
  .gallery .image-container .gi-04 {
    grid-column: 4 / span 3;
  }
  
  .gallery .image-container .gi-05 {
    grid-column: 2 / span 2;
  }
  
  .gallery .image-container .gi-06 {
    grid-column: 4 / span 2;
  }

}

@media (min-width: 800px) {
  
}

@media (min-width: 900px) {
  
  .badges .info-card.right {
    grid-column: 3 / -6;
  }
  
  section.banner * {
    grid-column: 1 / -1;
  }
  
  .flow .illustration {
    grid-column: 2 / -2;
  }
  
  .gallery .image-container {
    grid-row-gap: 4.5rem;
  }
  
  .gallery .image-container .gi-01,
  .gallery .image-container .gi-03,
  .gallery .image-container .gi-05 {
    grid-column: 3 / span 4;
  }
  
  .gallery .image-container .gi-02,
  .gallery .image-container .gi-04,
  .gallery .image-container .gi-06 {
    grid-column: 8 / span 4;
  }
  
  .cta.show-main .cta-text-container {
    grid-column: 3 / 12;
  }
  
}

@media (min-width: 1194px) {
  
  .mockup figure {
    grid-column: 5 / -3;
  }
  
  .mockup picture {
    grid-column: 5 / 9;
  }
  
  .mockup p {
    grid-column: 9 / -3;
  }
  
  .badges .illustration {
    grid-column: 6 / -3;
  }
  
  .badges .info-card.right {
    grid-column: 5 / -6;
  }
  
  .layers .illustration,
  .iteration .illustration {
    grid-column: 6 / -2;
  }
  
  .gallery .image-container {
    grid-row-gap: 2rem;
  }
  
  .gallery .image-container .gi-01,
  .gallery .image-container .gi-04 {
    grid-column: 5 / span 4;
  }
  
  .gallery .image-container .gi-02,
  .gallery .image-container .gi-05 {
    grid-column: 9 / span 3;
  }
  
  .gallery .image-container .gi-03, 
  .gallery .image-container .gi-06 {
    grid-column: 12 / span 3;
  }
  
  .cta.show-main .cta-text-container {
    grid-column: 5 / 12;
  }
  
}

@media (min-width: 1920px) {
  
  .intro *, .mockup * {
    grid-column: 7 / -5;
  }
  
  .mockup {
    margin-top: 0;
  }
  
  .mockup picture {
    grid-column: 6 / 10;
  }
  
  .mockup p {
    grid-column: 11 / -5;
  }
  
  .diagram .info-card.right {
    grid-column: -2 / -8;
  }
  
  .badges .illustration {
    grid-column: 1 / 9;
  }
    
  .flow .illustration {
    grid-column: 5 / -2;
  }
  
  .layers .illustration {
    grid-column: 8 / -6;
  }
  
  .iteration .illustration {
    grid-column: 7 / -2;
  }
  
  .gallery .image-container {
    grid-row-gap: 5.5rem;
  }
    
  .gallery .image-container .gi-01 {
    grid-column: 5 / span 4;
  }
  
  .gallery .image-container .gi-02 {
    grid-column: 10 / span 4;
  }
  
  .gallery .image-container .gi-03 {
    grid-column: 15 / span 4;
  }
  
  .gallery .image-container .gi-04 {
    grid-column: 5 / span 5;
  }
  
  .gallery .image-container .gi-05 {
    grid-column: 11 /span 4;
    align-self: center;   
  }
  .gallery .image-container .gi-06 {
    grid-column: 15 / span 4;
    align-self: center;   
  }
  
}