:root {
  --silcrow: #FC3819;
  --asterisk: #091833;
  --dagger: #67E0A1;
  --double-dagger: #E0D4FF;
  --paper: #FFFFFF;
  --ink: #232425;
  
  --silcrow-900: #FC5136;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  
  font-family: Lyon Text;
  
  color: var(--paper);
  background-color: var(--silcrow-900);
}

.intro {
  text-align: center;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  
  display:grid;
  justify-content:center;
  align-items:center;
  transition: height 0.3s;
}

.seal {
  position: relative;
  justify-self: center;
}

.silcrow-icon {
  --weight: 400;
  --width: 100;
  font-size: 142px;
  font-family: Anybody Silcrow Variable;
  font-variation-settings: 'wght' var(--weight), 'wdth' var(--width);
  transition: 1s;
}

.seal-elipse {
  position: absolute;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(160%, 120%);
}

.title-text h2 {
  font-family: Orleans;
  font-size: 3.375rem;
}

.title-text h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-style: italic;
}

.intro-arrow {
  justify-self: center;
}

.next {
  width: 100%;
  height: 1200px;
}

.squiggle {
  background-color: var(--paper);
  mask-image: var(--squiggle-svg);
  width:100%;
  height:8px;
}